---

- name: Check for supported install source
  when: firefox_source not in ["default", "esr", "flatpak"]
  ansible.builtin.fail:
    msg: "Please change {{ firefox_source }} to one of the supported ones: default, esr or flatpak"

- name: Gather package facts
  ansible.builtin.package_facts:

- name: Get Firefox major version
  become: true
  become_user: "{{ user }}"
  ansible.builtin.shell:
    cmd: |
      set -o pipefail
      firefox --version | grep -oP '\d+' | head -1
  args:
    executable: /bin/bash
  register: firefox_major_version
  changed_when: false

- name: Add firefox default profile
  ansible.builtin.include_tasks:
    file: profile.yml

- name: Template user.js to host
  become: true
  become_user: "{{ user }}"
  ansible.builtin.template:
    src: "user.js.j2"
    dest: "{{ firefox_config_path[firefox_source][ansible_facts.os_family] }}/{{ firefox_profile_name }}/user.js"
    mode: "0644"

- name: Set per user extensions for flatpak install
  loop: "{{ firefox_extensions }}"
  loop_control:
    loop_var: extension
    label: "{{ extension.name }}"
  when: firefox_source == "flatpak"
  ansible.builtin.include_tasks:
    file: extensions.yml

...
